Repository ryzhakar/lyrics-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, export-requirements

.pre-commit-config.yaml:

---
repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.9.3
  hooks:
  - id: ruff
    args: [--fix]
  - id: ruff-format

- repo: local
  hooks:
  - id: mypy
    name: check static typing consistency
    entry: mypy
    language: python
    pass_filenames: true
    types: [python]

- repo: local
  hooks:
  - id: pytest-check
    name: run tests
    entry: pytest
    language: system
    args: [--cov-report, --cov=app, -x, tests/]
    pass_filenames: false
    always_run: true
    stages: [pre-push, post-merge, post-rewrite]

- repo: local
  hooks:
  - id: export-requirements
    name: Export requirements.txt
    entry: uv pip compile pyproject.toml -o requirements.txt
    language: system
    files: ^(pyproject.toml|uv.lock)$
    pass_filenames: false

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.6.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
  - id: check-added-large-files
- repo: https://github.com/jumanjihouse/pre-commit-hook-yamlfmt
  rev: 0.2.3
  hooks:
  - id: yamlfmt
    name: format YAML
    args: [--mapping, '2', --sequence, '2', --offset, '0', --colons, --width, '150']

chore: styling manifesto
  STYLE_MANIFESTO.md
Due: none

style(ui): simplify sticky behavior, spacing rhythm; add subtle hairlines for top and song headers
  app/main.py
  app/templates/base.html
  static/css/base.css
Due: mypy

feat(search): restructure search topbar presence and add setlist edit entrypoint in song view
  app/main.py
  app/templates/base.html
  app/templates/search.html
  static/css/base.css
Due: mypy

feat(search): redesign setlist builder UX — selected above search, full-width items, larger touch targets, key picker, drag-and-drop
  app/templates/base.html
  app/templates/search.html
  static/css/base.css
Due: none

feat(search): polish sticky search header lip and spacing; refine selected density and DnD UX
  app/templates/search.html
  static/css/base.css
Due: none

feat(search): place selected setlist above search bar; compress selected items into single-row with inline key switcher
  app/templates/search.html
  static/css/base.css
Due: none

fix(search): compress selected item to true single-row, full-width; align key controls inline
  app/templates/search.html
  static/css/base.css
Due: none

fix(search): simplify selected items — remove chips, keep single-row with nowrap title; enlarge +/× and drag handle; align spacing
  app/templates/search.html
  static/css/base.css
Due: none

fix(search): restore key controls after DnD via delegation; preserve header position on add/remove; refine selected aesthetics per manifesto
  app/templates/search.html
Due: none

fix(search): make key label open popover and chevrons work post-DnD via event delegation; keep header fixed while list changes
  app/templates/search.html
Due: none

feat(ui): remove key transpose chevrons; picker-only selection in song view and setlist
  app/templates/base.html
  app/templates/search.html
  static/css/base.css
Due: none

feat(search): gate navigation by selection state; disable result links when building setlist
  app/templates/search.html
  static/css/base.css
Due: none

style(search): remove hairlines; use spacing-only separation with sticky search bar as the sole divider
  static/css/base.css
Due: none

feat(search/dnd): add placeholder gap and lifted drag behavior with edge auto-scroll
  app/templates/search.html
  static/css/base.css
Due: none

feat(search): mobile-friendly DnD with placeholder; decouple list classes; align key block; ellipsize titles; match remove button to plus
  app/templates/search.html
  static/css/base.css
Due: none

fix(search): restore key picker target and outside-close; tighten key alignment and 2-row stack; correct DnD listeners and grid sizing
  app/templates/search.html
  static/css/base.css
Due: none

fix(search/dnd): stabilize reordering; index by cursor Y with fixed-height placeholder; throttle auto-scroll; smooth placeholder visuals
  app/templates/search.html
  static/css/base.css
Due: none

fix(search/dnd): prevent runaway auto-scroll at list end; bound scrolling by computed drop index
  app/templates/search.html
Due: none

fix(search): make search-header scroll compensation absolute to page to survive manual scroll in between renders
  app/templates/search.html
Due: none

feat(search/results): show original title next to artist; render YouTube/streaming icons for transient results only
  app/templates/search.html
  static/css/base.css
Due: none

feat(ui): persist dark/light preference in localStorage and apply across navigation
  app/templates/base.html
Due: none

style: align topbar width with content and adjust song-view top padding; minor CSS tweaks
  static/css/base.css
Due: none

style(nav): add 'YGS LYRICS' brand, hide chords toggle in search, and place search icon at right end when applicable
  app/templates/base.html
  static/css/base.css
Due: none

style(nav): make topbar match content width; left brand and right-justified actions via grid columns
  static/css/base.css
Due: none

fix(ui): load a guaranteed chord-on icon (music.svg) instead of music-2.svg
  app/templates/base.html
Due: none

i18n(ua): replace all 'Тон' with 'Тональність' and refine search/setlist UA labels\n\n- main: key label uses 'Тональність'\n- search: UA placeholders and actions incl. 'Відкрити всі'
  app/main.py
  app/templates/search.html
Due: mypy

fix(renderer): improve wrap split (whitespace/hyphen fallback) and set width to 40
  app/renderer.py
Due: mypy

feat(share): share setlist as numbered titles with keys and link at bottom\n\n- Build share text from s-param using session meta/page titles\n- Use Web Share API when available, fallback to clipboard
  app/templates/base.html
Due: none

fix(share): remove duplicate URL in share payload (bottom-only)
  app/templates/base.html
Due: none

feat(share): respect chords visibility and single-song case\n\n- Omit keys when chords are hidden\n- If only one song is selected, share only the URL
  app/templates/base.html
Due: none

feat(admin): add search to model listings and redirect admin index to songs list
  app/admin.py
Due: mypy

feat(search): enhance app search with pg_trgm similarity and weighted ranking with graceful fallback
  app/repositories/songs.py
Due: mypy

feat(search): include original_title in search; ensure prefix-first ordering; add pg_trgm migration and trigram indexes
  alembic/versions/06fb30c7a21a_enable_pg_trgm_and_add_trigram_indexes.py
  app/repositories/songs.py
Due: mypy

test(db): allow dedicated test DB via DATABASE_URL_TEST; create schema automatically and keep prod URL untouched
  tests/conftest.py
Due: mypy

chore: ignore private stuff
  .gitignore
Due: none

fix: minor keys in url
  app/main.py
  app/templates/base.html
  app/templates/search.html
Due: mypy

feat: sentry integration
  app/main.py
  app/settings.py
  pyproject.toml
  requirements.txt
  uv.lock
Due: mypy, export-requirements

fix(search): missing urlencode in template
  app/templates/search.html
Due: none

fix(search): setlist reordering on desktop
  app/templates/search.html
Due: none

fix(css): accent chord colors, hairline song header separator
  static/css/base.css
Due: none
