Repository ryzhakar/lyrics-app: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, export-requirements

.pre-commit-config.yaml:

---
repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.9.3
  hooks:
  - id: ruff
    args: [--fix]
  - id: ruff-format

- repo: local
  hooks:
  - id: mypy
    name: check static typing consistency
    entry: mypy
    language: python
    pass_filenames: true
    types: [python]

- repo: local
  hooks:
  - id: pytest-check
    name: run tests
    entry: pytest
    language: system
    args: [--cov-report, --cov=app, -x, tests/]
    pass_filenames: false
    always_run: true
    stages: [pre-push, post-merge, post-rewrite]

- repo: local
  hooks:
  - id: export-requirements
    name: Export requirements.txt
    entry: uv pip compile pyproject.toml -o requirements.txt
    language: system
    files: ^(pyproject.toml|uv.lock)$
    pass_filenames: false

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.6.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
  - id: check-added-large-files
- repo: https://github.com/jumanjihouse/pre-commit-hook-yamlfmt
  rev: 0.2.3
  hooks:
  - id: yamlfmt
    name: format YAML
    args: [--mapping, '2', --sequence, '2', --offset, '0', --colons, --width, '150']

feat(app,db,admin,infra): MVP with FastAPI app, SQLAlchemy Core schema, parser/transposer/renderer, admin, search, migrations, and tests
  Dockerfile
  README.md
  alembic.ini
  alembic/__init__.py
  alembic/env.py
  alembic/script.py.mako
  alembic/versions/20250101_000000_initial.py
  alembic/versions/__init__.py
  app/__init__.py
  app/admin.py
  app/db.py
  app/main.py
  app/models.py
  app/parser.py
  app/renderer.py
  app/repositories/__init__.py
  app/repositories/admin_users.py
  app/repositories/songs.py
  app/seed.py
  app/settings.py
  app/templates/base.html
  app/templates/search.html
  app/templates/song.html
  app/transposer.py
  checklist.md
  docker-compose.yml
  hello.py
  pyproject.toml
  requirements.txt
  static/css/base.css
  tests/__init__.py
  tests/test_parser.py
  tests/test_renderer.py
  tests/test_transposer.py
  uv.lock
Due: mypy, export-requirements

fix(renderer): preserve chord anchor columns to prevent drift with long tokens
  app/renderer.py
Due: mypy

test(core): add parser, renderer, transposer coverage for implemented behaviors
  tests/test_parser_extra.py
  tests/test_renderer_extra.py
  tests/test_transposer_extra.py
Due: mypy

test(integration): add live-DB fixtures and route/repository tests with Docker Postgres
  tests/conftest.py
  tests/test_routes_and_repos.py
Due: mypy

test(admin): validate SongAdmin blocks invalid ChordPro and accepts valid content
  tests/test_admin_validation.py
Due: mypy

chore(pytest): enable asyncio auto mode and session loop scope
  pyproject.toml
  requirements.txt
Due: export-requirements

fix(app): use FastAPI lifespan for admin bootstrap; annotate admin models to satisfy SQLAlchemy; keep templates stable while addressing starlette deprecation
  .pre-commit-config.yaml
  app/main.py
  app/models.py
Due: mypy

fix(app): update TemplateResponse calls to new signature; set typed column lists for SQLAdmin views
  app/admin.py
  app/main.py
Due: mypy

refactor(parser): small robustness tweaks and tests for nested/unmatched sections and stripping
  app/parser.py
Due: mypy

fix(parser): reject malformed section/chord syntax; fix(admin): validate content reliably; fix(route): return 400 on unparseable song content
  app/admin.py
  app/main.py
  app/parser.py
Due: mypy

test(renderer,route): assert rendered HTML matches sections, lyrics, chord alignment using full and route-level examples
  tests/test_render_full_example.py
  tests/test_routes_render_example.py
Due: mypy

refactor(parser): tolerate unknown brace directives while preserving strict chord token validation
  app/parser.py
Due: mypy

test: inline example chordpro content to avoid relying on git-ignored files
  tests/test_render_full_example.py
  tests/test_routes_render_example.py
Due: mypy

fix(renderer): render chords-only lines as space-separated tokens; test: cover chords-only rendering
  app/renderer.py
  tests/test_render_full_example.py
Due: mypy

feat(parser,renderer): support anonymous sections \{start_of_section\} with no header rendering; test: cover anonymous section behavior
  app/parser.py
  app/renderer.py
  tests/test_parser_extra.py
  tests/test_render_full_example.py
Due: mypy

fix(transpose): respell notes based on target key; support sharps/flats; keep default stable
  app/transposer.py
Due: mypy

feat(db): require default_key NOT NULL; add migration; adjust tests
  alembic/versions/20250209_000001_require_default_key_not_null.py
  app/db.py
  tests/test_admin_validation.py
  tests/test_routes_and_repos.py
Due: mypy

feat(admin): protect SQLAdmin with DB-backed session auth
  app/admin.py
  app/auth.py
Due: mypy

feat(api): add session, gzip, CORS, trusted-host, HTTPS-redirect, and security headers middleware
  app/main.py
  app/middleware.py
  app/settings.py
Due: mypy

feat(seed): add initial admin creation and .env generation (secret key, bootstrap creds)
  app/seed.py
Due: mypy

fix(bootstrap): ensure admin seed commits; remove lifespan bootstrap; docs and repo tweaks
  .gitignore
  README.md
  app/main.py
  app/repositories/admin_users.py
  app/seed.py
  uv.lock
Due: mypy, export-requirements

feat(admin): manage users with password field; hash on create/update; hide hashes
  app/admin.py
Due: mypy

chore: ignore coverage files
  .gitignore
Due: none

chore: apply pre-commit formatting changes
  README.md
  app/admin.py
  app/models.py
  app/repositories/songs.py
  app/templates/sqladmin/create.html
  app/templates/sqladmin/edit.html
  checklist.md
  pyproject.toml
  tests/test_routes_and_repos.py
Due: mypy, export-requirements

chore: apply pre-commit formatting changes
  tests/test_admin_auth.py
Due: mypy

docs(checklist): mark scaffolding complete after verification
  checklist.md
Due: none

feat(transposer): prefer sharps/flats by circle-of-fifths with mode; update tests to match finalized sets
  app/transposer.py
  tests/test_transposer_extra.py
  uv.lock
Due: mypy, export-requirements

chore: apply ruff autofix
  app/renderer.py
  tests/test_renderer_extra.py
Due: mypy

feat(ui): add top nav with search and controls; redesign sticky song header/meta/links; adjust snapping and blur; show transposed key
  app/main.py
  app/parser.py
  app/templates/base.html
  pyproject.toml
  static/css/base.css
Due: mypy, export-requirements

fix(ui): rebuild sticky navbar logic to eliminate gaps; use CDN icons with state-aware toggles; harden share fallback
  app/main.py
  app/templates/base.html
  static/css/base.css
Due: mypy

feat(search): show streaming icons on results\n\nfix(ui): navbar grid reflow; chords toggle icon URL; remove nav brand text display
  app/templates/base.html
  app/templates/search.html
  static/css/base.css
Due: none

feat(ui): restructure song title header (left stack, centered key, right icons); muted key styling; resilient empty fields\n\nfeat(search): clickable streaming icons with implicit grouping
  app/main.py
  app/templates/search.html
  static/css/base.css
Due: mypy

fix(search): prevent iOS zoom and caret misalignment by using 16px input and adjusted padding\n\nfeat(ui): centered key uses artist typography; header grid stabilized
  app/templates/base.html
  static/css/base.css
Due: none

fix(ui): stabilize navbar animation with rAF + thresholds; ignore spring overscroll and use clamped momentum; GPU-promote topbar
  app/templates/base.html
  static/css/base.css
Due: none

fix(ui): remove scroll-snap to avoid conflicts with sticky header/nav animation
  static/css/base.css
Due: none

refactor(renderer): move streaming link rendering from main into renderer utility
  app/main.py
  app/renderer.py
Due: mypy

effects: intensify disintegration near title without cutoff; defer activation to first scroll; ui: off-white/off-black palette with subtler blue/orange accents
  app/templates/base.html
  static/css/base.css
  static/js/disintegrate.js
Due: none

feat(ui): add vertical transpose controls around song key; tighten spacing and inherit key color
  app/main.py
  app/templates/base.html
  static/css/base.css
Due: mypy

feat(search): implement setlist selection panel, selectable results, reordering, and URL state persistence
  app/templates/search.html
  static/css/base.css
Due: none

chore(ui): remove disintegration effect and related asset for performance
  app/main.py
  app/templates/base.html
  app/templates/search.html
  checklist.md
  static/css/base.css
  static/js/disintegrate.js
Due: mypy
